@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Pacifico&display=swap");

html {
  font-family: "Fira Sans", sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp2570965.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.card {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.75);
  background-color: rebeccapurple;
  color: white;
  width: 40%;
  height: 25%;
}

.card-content {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
    height: 40%;
  }
}

.wrapper {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

a:hover {
  color: #fff;
}

a:hover:after {
  width: 100%;
}
